body {
    left: 0%;
    width: 100%;
}

.heroPic {
    position: relative;
    visibility: hidden;
    width: 100%;
}

.introBox {
    color: #FFFFFF;
    font-family: monospace;
    font-size: 5vw;
    left: 5%;
    position: relative;
    text-align: center;
    width: 90%;
}

a{
    color: #FFFFFF;
}
