.backImg{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: fixed;
    vertical-align: middle;
    z-index: 0;
}

.textBox{
    top: 20%;
    left: 10%;
    width: 80%;
    font-style:italic;
    color: #FFFFFF;
    background-color: rgba(100, 100, 100, 0.9);
    font-family: monospace;
    font-size: 1vw;
    position: absolute;
    text-align:center;
}

.backButton{
    top: 5%;
    left: 40%;
    width: 20%;
    height: 10%;
    z-index: 2;
    position: absolute;
    transition: all 1s ease-in-out;
}

.backButton:hover{
    width: 22%;
    height: 11%;
    left: 39%;
}

.cookImg{
    height: 250px;
}
