.postBox {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.postit {
    resize: both;
    position: absolute;
    width: 300px;
    min-width: 100px;
    height: 150px;
    min-height: 100px;
    overflow: auto;
    background-color: #FFF000;
}